<div class="col-lg-6 col-md-6 navigation">
    <div class="navContainer">
        <div class="mainContainer">
            <p>عن الروضة</p>
        </div>
        <div class="subContainer activeContainer">
            <p>
                <a asp-area="Public" asp-controller="AboutSchool" asp-action="Index">
                نشاطات الطلاب 
                </a>
            </p>
        </div>
        <div class="subContainer">
            <p><a href="#">الأخبار</a></p>
        </div>
        <div class="subContainer">
            <p><a href="#">الهيئة التدريسية</a></p>
        </div>
        <div class="subContainer">
            <p><a href="#">نبذة عنا</a></p>
        </div>
    </div>
</div>

