<div class="col-lg-6 col-md-6 navigation">
    <div class="navContainer">
        <div class="mainContainer">
            <p>التسجيل و الرسوم</p>
        </div>
        <div class="subContainer activeContainer">
            <p><a href="#">تفاصيل التسجيل</a></p>
        </div>
        <div class="subContainer">
            <p><a href="#">الرسوم</a></p>
        </div>
        <div class="subContainer">
            <p><a href="#">تسجيل الطالب</a></p>
        </div>
    </div>
</div>