@section Css {
    <link rel="stylesheet" href="~/css/RegisterationDetails/RegisterationDetailsNav.css" />
    <link rel="stylesheet" href="~/css/RegisterationDetails/RegisterationDetails.css" />
}

@{
    ViewData["Title"] = "الرسوم و التسجيل";
    ViewData["Active"] = "feesAndRegisteraion";
}

<div class="mt-5">
    <div class="row">
        <partial name="_FeesAndRegisterationsNav" />
        <div class="col-lg-6 col-md-6 detailsContainer">
            <h2>: تفاصيل التسجيل</h2>
            <p>
                يسعدنا دعوتكم لتسجيل أطفالكم الأحبة في الروضة ،حيث التعليم المميز والأمثل.
                بادارة ومعلمات قديرات ومتخصصات نهتم بالتربية الاسلامية وتعليم الانجليزية والكمبيوتر.
                نتميز بالموقع والمساحات والغرف الصفية الواسعة وبالحدائق.
                ألعاب داخلية و خارجية ممتعة.
                نهتم بالنشاطات المختلفة والتواصل مع أولياء الأمور.
            </p>
        </div>
    </div>
    <div class="row flex-row-reverse">
        <div class="col-lg-6 col-md-6 detailsContainer">
            <div class="mt-4">
                <h2>: تفاصيل التسجيل</h2>
                <p>
                    يسعدنا دعوتكم لتسجيل أطفالكم الأحبة في الروضة ،حيث التعليم المميز والأمثل.
                    بادارة ومعلمات قديرات ومتخصصات نهتم بالتربية الاسلامية وتعليم الانجليزية والكمبيوتر.
                    نتميز بالموقع والمساحات والغرف الصفية الواسعة وبالحدائق.
                    ألعاب داخلية و خارجية ممتعة.
                    نهتم بالنشاطات المختلفة والتواصل مع أولياء الأمور.
                </p>
            </div>
            <div class="mt-4">
                <h2>: تفاصيل التسجيل</h2>
                <p>
                    يسعدنا دعوتكم لتسجيل أطفالكم الأحبة في الروضة ،حيث التعليم المميز والأمثل.
                    بادارة ومعلمات قديرات ومتخصصات نهتم بالتربية الاسلامية وتعليم الانجليزية والكمبيوتر.
                    نتميز بالموقع والمساحات والغرف الصفية الواسعة وبالحدائق.
                    ألعاب داخلية و خارجية ممتعة.
                    نهتم بالنشاطات المختلفة والتواصل مع أولياء الأمور.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 detailsImageContainer">
            <img src="~/images/RegisterationDetailsImage.jpg" width="200px" height="200px" />
        </div>
    </div>

    <div class="row flex-row-reverse mt-5 mb-5">
        <div class="col-12 registerationButton">
            <partial name="_LargeButton" />
        </div>
    </div>
</div>

