
.teachersTable .table {
    width: 100%;
    text-align: center;
}

    .teachersTable .table th {
        background-color: #038242;
    }

        .teachersTable .table th span {
            color: #fdfdfd;
            font-size: 0.9rem;
        }

    .teachersTable .table td {
        color: #038242;
        font-size: 0.85rem;
        font-weight: bold;
        vertical-align: middle;
    }



@media only screen and (max-width: 768px) {
    .registerationButton {
        display: flex;
        justify-content: center
    }
}
