

<br />
<table id="tblData" align="right" class="table table-bordered mt-5 mb-5" style="width:100%;">
    <thead>
        <tr>
            <th>
                <span></span>
            </th>
            <th>
                <span>النهائي</span>
            </th>
            <th>
                <span>المشاركة</span>
            </th>
            <th>
                <span>الشهر الثاني</span>
            </th>
            <th>
                <span>الشهر الأول</span>
            </th>
            <th>
                <span>المادة / العلامة</span>
            </th>
        </tr>
    </thead>
</table>

