.formContainer h2 {
    color: #038242;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px
}

.formContainer p {
    font-size: 1rem;
    line-height: 40px;
}

.formContainer input, textarea {
    text-align: right !important;
}



@media only screen and (max-width: 768px) {
    .schoolLogo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
