@model string

@{
    string isActive(string pageName)
    {
        if (pageName == Model)
        {
            return "activeContainer";
        }
        return "";
    }
}

<div class="navContainer">
    <div class="mainContainer">
        <p>الصفوف و الحصص</p>
    </div>

    <div class="subContainer @isActive("courses")">
        <p>
            <a asp-area="Admin" asp-controller="CoursesAndSections" asp-action="Courses">
                المواد الدراسية
            </a>
        </p>
    </div>



    <div class="subContainer @isActive("sections")">
        <p>
            <a asp-area="Admin" asp-controller="CoursesAndSections" asp-action="Sections">
                الشعب و الحصص
            </a>
        </p>
    </div>

</div>