
@model string;

@{ 
    string isActive(string pageName)
    {
        if (pageName==Model)
        {
            return "activeContainer";
        }
        return "";
    }
} 
<div class="col-lg-6 col-md-6 navigation">
    <div class="navContainer" style="height:200px;">
        <!----------------------------- navigation header --------------------------->
        <div class="mainContainer">
            <p>بوابة المعلم</p>
        </div>

        <!----------------------------- navigation items --------------------------->

        <div class="subContainer @isActive("profile")">
            <p>
                <a asp-area="TeacherPortal" asp-controller="Home" asp-action="Index">
                    الصفحة الشحصية
                </a>
            </p>
        </div>


        <div class="subContainer @isActive("ClassSchedule")">
            <p>
                <a asp-area="TeacherPortal" asp-controller="Home" asp-action="ClassSchedule">
                    الجدول الدراسي
                </a>
            </p>
        </div>


        <div class="subContainer @isActive("Marks")">
            <p>
                <a asp-area="TeacherPortal" asp-controller="Home" asp-action="Marks">
                     العلامات    
                </a>
            </p>
        </div>

        
    </div>
</div>

