@model IEnumerable<SelectListItem>

@{
    var width = "50%";
    var onChange = "PopulateTable()";
    if (ViewData["sectionsWidth"] == "100%" || ViewBag.sectionsDropDownWidth == "100%")
    {
        width = "100%";
        onChange = "FillSectionWithValue()";
    }
}

<select id="sections" class="form-control" style="text-align-last: right; width:250px" onchange=@onChange>
    @if (ViewBag.acceptRequest == null)
    {
        <option disabled selected>اختر الشعبة</option>

    }
    @if (Model != null)
    {
        @foreach (var sect in Model)
        {
            <option value="@sect.Value" label="@sect.Text" selected="@sect.Selected"></option>
        }
    }
</select>