<br />
<br />
<table id="tblData" align="right" class="table table-bordered mt-5 dt-responsive">
    <thead>
        <tr>
            <th></th>
            <th>
                <span>عرض المزيد</span>
            </th>
            <th>
                <span>العنوان</span>
            </th>
            <th>
                <span>رقم هاتف ولي الأمر</span>
            </th>
            <th>
                <span>الصف</span>
            </th>
            <th>
                <span>الإسم باللغة الإنجليزية</span>
            </th>
            <th>
                <span>الإسم باللغة العربية</span>
            </th>
        </tr>
    </thead>
</table>

