@page
@model LoginModel

@section Css {
    <link rel="stylesheet" href="~/css/login.css" />
}

@{
    ViewData["Title"] = "تسجيل الدخول";
    ViewData["Active"] = "login";
}


<div class="loginContainer d-flex row flex-row-reverse justify-content-center
            align-content-center align-self-center">
    <div class="col-6">
        <form class="loginFormContainer mt-5" id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>البريد الإلكتروني</label>
                <input class="form-control text-right" asp-for="Input.Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>كلمة المرور</label>
                <input class="form-control text-right" asp-for="Input.Password" type="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mt-5 mb-4">
                <button class="btn" style="background-color: #038242;width:200px;height:60px;" type="submit">
                    <p style="color:#fdfdfd; font-size:1.1rem;padding: 9px 0;">تسجيل الدخول</p>
                </button>
            </div>
        </form>
    </div>
    <div class="col-6 p-5 d-flex justify-content-center" style="background-color:#f3f3f3">
        <img src="~/SVGs/login.svg" width="100%" height="90%" style="text-align:center" />
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
