@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل الخروج";
    ViewData["Active"] = "تسجيل الخروج";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>