@section Css {
    <link rel="stylesheet" href="~/css/FeesAndRegisteration/FeesAndRegisterationNav.css" />
    <link rel="stylesheet" href="~/css/FeesAndRegisteration/RegisterationDetails.css" />
}

@{
    ViewData["Title"] = "تفاصيل التسجيل";
    ViewData["Active"] = "feesAndRegisteraion";
    string activeNav = "regDeatils";
}

<div class="mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <partial name="~/Areas/Public/Views/Partials/_FeesAndRegisterationsNav.cshtml" model="activeNav" />
        </div>
        <div class="col-lg-6 col-md-6 detailsContainer">
            <h2>: تفاصيل التسجيل</h2>
            <p>
                يسعدنا دعوتكم لتسجيل أطفالكم الأحبة في الروضة ،حيث التعليم المميز والأمثل.
                بادارة ومعلمات قديرات ومتخصصات نهتم بالتربية الاسلامية وتعليم الانجليزية والكمبيوتر.
                نتميز بالموقع والمساحات والغرف الصفية الواسعة وبالحدائق.
                ألعاب داخلية و خارجية ممتعة.
                نهتم بالنشاطات المختلفة والتواصل مع أولياء الأمور.
            </p>
        </div>
    </div>
    <div class="row flex-row-reverse">
        <div class="col-lg-6 col-md-6 detailsContainer">
            <div class="mt-4">
                <h2>: تفاصيل التسجيل</h2>
                <p>
                    يسعدنا دعوتكم لتسجيل أطفالكم الأحبة في الروضة ،حيث التعليم المميز والأمثل.
                    بادارة ومعلمات قديرات ومتخصصات نهتم بالتربية الاسلامية وتعليم الانجليزية والكمبيوتر.
                    نتميز بالموقع والمساحات والغرف الصفية الواسعة وبالحدائق.
                    ألعاب داخلية و خارجية ممتعة.
                    نهتم بالنشاطات المختلفة والتواصل مع أولياء الأمور.
                </p>
            </div>
            <div class="mt-4">
                <h2>: تفاصيل التسجيل</h2>
                <p>
                    يسعدنا دعوتكم لتسجيل أطفالكم الأحبة في الروضة ،حيث التعليم المميز والأمثل.
                    بادارة ومعلمات قديرات ومتخصصات نهتم بالتربية الاسلامية وتعليم الانجليزية والكمبيوتر.
                    نتميز بالموقع والمساحات والغرف الصفية الواسعة وبالحدائق.
                    ألعاب داخلية و خارجية ممتعة.
                    نهتم بالنشاطات المختلفة والتواصل مع أولياء الأمور.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 detailsImageContainer">
            <img src="~/images/RegisterationDetailsImage.jpg" width="200px" height="200px" />
        </div>
    </div>

    <div class="row flex-row-reverse mt-5 mb-5">
        <div class="col-12 registerationButton">
            <div class="registerationButton mt-5 mb-4">
                <a class="btn" style="background-color: #038242;width:200px;height:60px;">
                    <p style="color:#fdfdfd; font-size:1.1rem;padding: 9px 0;">تسجيل الطالب الآن</p>
                </a>
            </div>
        </div>
    </div>
</div>

