@model IEnumerable<SelectListItem>


<select id="teachers" class="form-control" style="text-align-last: right;" onchange="FillTeacherWithValue()">
    <option disabled selected>اختر المعلم</option>
    @if (Model != null)
    {
        foreach (var grade in Model)
        {
            <option value="@grade.Value" label="@grade.Text" selected="@grade.Selected"></option>
        }
    }
</select>
