@model SchoolWeb.Models.Activity;

@{
    string imageUrl;
    try
    {
        imageUrl = Model.ActivityImages.FirstOrDefault().ImageUrl;
    }
    catch (Exception e)
    {
        imageUrl = "/images/defaultActivityImage.jpg";
    }


}

<a class="card  border-0 col-lg-3 col-md-6 col-sm-8 mb-sm-5 "
   asp-route-ItemId="@Model.Id" asp-area="Public" asp-controller="FullViewOfCards"
   asp-action="FullViewOfActivity">
    <img src="@imageUrl"
         alt="صورة عن النشاط"
         style="height:200px; width:100%; margin:0;">
    <div class="card-body p-0 ">

        <p class="card-text text-black-50">
            @Model.Title
        </p>
        <p class="text-black-50 d-inline-block" style="font-size:12px;">
            @Model.Date.ToString("dd/MM/yyyy")
        </p>
        <i class="far fa-calendar-alt ml-2"
           style="color:#038242"></i>


    </div>
</a>