
<div class=" col-lg-3 col-sm-6 border-0  pt-5">
    <div class="card  m-auto" style="width:250px">
        <div class="card-img-top center"
             style="height: 250px; background-color:#555555">
            <img src="~/SVGs/user.svg" height="200px" width="150px" alt="...">
        </div>
        <div class="card-body bg-green" style="text-align:center; height:90px;">
            <p class=" font-weight-bold text-white m-0">حنان ابو محفوظ</p>

            <p class="text-white mt-1">مديرة</p>
        </div>
    </div>

</div>