
@model SchoolWeb.Models.Teacher


<div class=" col-lg-3 col-sm-6 border-0  pt-5">
    <div class="card  m-auto" style="width:250px">
        <div class="card-img-top center"
             style="height: 250px; background-color:#555555">
            <img src="@Model.ImageUrl" height="200" width="150" alt="صورة المعلم ">
        </div>
        <div class="card-body bg-green" style="text-align:center; height:90px;">
            <p class=" font-weight-bold text-white m-0">@Model.Name</p>

            <p class="text-white mt-1">@Model.Field</p>
        </div>
    </div>

</div>