.slider {
    padding: 0 20%;
    width: 100%;
    height: 400px;
    text-align: center;
    background: url(../images/greenBoard.jpg);
    background-size: 100% 100%;
    
}

p{
   margin:10px;
}



.sub-title {
    font-weight:bold;
    margin-top:50px;
    border-bottom: 2px solid #038242;
    display:inline-block;
}