.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-green{
background-color:#038242
}

.green-font {
    color: #038242
}

.tableActionButtons {
    display: flex;
    justify-content: center;
}

    .tableActionButtons .deleteButton {
        background-color: #ff3232;
        width: 50px;
        height: 35px;
        margin-right: 20px
    }

    .tableActionButtons .editButton {
        background-color: #f3f3f3;
        width: 50px;
        height: 35px;
        border: 1px solid #038242
    }

.sub-title {
    font-weight: bold;
    margin-top: 50px;
    border-bottom: 2px solid #038242;
    display: inline-block;
}




@media only screen and (max-width: 320px) {
    .dataTables_wrapper {
        zoom: 0.4;
    }
}

@media only screen and (max-width: 600px) {
    .dataTables_wrapper {
        zoom: 0.5;
    }
}

@media only screen and (min-width: 600px) {
    .dataTables_wrapper {
        zoom: 0.8;
    }
}



@media only screen and (min-width: 768px) {
    .dataTables_wrapper {
        zoom: 1;
    }
}
