.studentsTable .table {
    width: 100%;
    text-align: center;
}

    .studentsTable .table th {
        background-color: #038242;
    }

        .studentsTable .table th span {
            color: #fdfdfd;
            font-size: 0.9rem;
        }

    .studentsTable .table td {
        color: #038242;
        font-size: 0.85rem;
        font-weight: bold;
        vertical-align: middle;
    }


@media only screen and (max-width: 768px) {
    .schoolLogo {
        text-align: center
    }
}