.bold {
    color: #038242;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px
}

.table {
    width: 80%;
    text-align: center;
}

.table th {
    background-color: #038242;
    vertical-align: middle;
}

.table th span {
    color: #fdfdfd;
    font-size: 0.9rem;
}

.table td {
    color: #038242;
    font-size: 0.85rem;
    font-weight: bold;
    vertical-align: middle;
}

