.detailsContainer h2 {
    color: #038242;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px
}

.detailsContainer p {
    font-size: 1rem;
    line-height: 40px;
}


.detailsImageContainer {
    text-align: left;
    margin-top: 120px;
}

.detailsImageContainer img {
    margin-left: 30px
 }


@media only screen and (max-width: 768px) {
    .detailsImageContainer {
        margin: 20px auto;
        text-align: center
    }
    .registerationButton {
        display:flex;
        justify-content:center
    }
}